# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
tensorflow

# audio related
librosa

# tests/linter
black
coverage
flake8
pytest
yapf
httpx

# API
gcsfs
google-cloud-storage
mlflow
s3fs

streamlit
requests
fastapi
pytz
uvicorn


# utilities
six>=1.14
joblib
memoized-property
termcolor

# format
colorama

#Machin Learning
prefect
mlflow
